Django==4.2.7
django-constance==3.1.0
django-cors-headers==4.3.1
git+https://github.com/derneuere/django-chunked-upload@master#egg=django-chunked-upload
django-cryptography==1.1
django-extensions==3.2.3
django-filter==23.4
django-picklefield==3.1
django-bulk-update
django-silk==5.0.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-extensions==0.7.1
drf-spectacular==0.26.5
face-recognition==1.3.0
faiss-cpu==1.7.4
Flask==2.3.3
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
geopy==2.4.1
gunicorn==21.2.0
hdbscan==0.8.33
matplotlib==3.8.2
networkx==3.2.1
nltk==3.8.1
markupsafe==2.1.3
Pillow==10.1.0
psycopg==3.1.13
https://github.com/owncloud/pyocclient/archive/master.zip
pytz==2023.3.post1
tzdata==2023.3
PyExifTool==0.4.9
PyJWT==2.8.0
pyvips==2.2.1
scikit-learn<1.3.3
seaborn==0.13.0
sentence_transformers==2.2.2
timezonefinder==6.2.0
tqdm==4.65.2
gevent==23.9.1
python-magic==0.4.27
Wand==0.6.13
django-q2==1.6.1
safetensors==0.4.0
py-cpuinfo==9.0.0
psutil==5.9.6
onnxruntime==1.16.1
# Dependencies for blip
timm==0.4.12
transformers==4.30.0
