Django==4.2.11
django-constance==3.1.0
django-cors-headers==4.3.1
git+https://github.com/derneuere/django-chunked-upload@master#egg=django-chunked-upload
django-cryptography==1.1
django-extensions==3.2.3
django-filter==23.5
django-picklefield==3.1
django-bulk-update
django-silk==5.1.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-extensions==0.7.1
drf-spectacular==0.27.2
face-recognition==1.3.0
faiss-cpu==1.8.0
Flask==3.0.3
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
geopy==2.4.1
gunicorn==22.0.0
hdbscan==0.8.33
matplotlib==3.8.3
networkx==3.2.1
nltk==3.8.1
markupsafe==2.1.5
Pillow==10.3.0
psycopg==3.1.18
https://github.com/owncloud/pyocclient/archive/master.zip
pytz==2023.4
tzdata==2023.4
PyExifTool==0.4.9
PyJWT==2.8.0
pyvips==2.2.1
scikit-learn<1.4.3
seaborn==0.13.2
sentence_transformers==2.2.2
timezonefinder==6.5.0
tqdm==4.66.2
gevent==23.9.1
python-magic==0.4.27
Wand==0.6.13
django-q2==1.6.2
safetensors==0.4.2
py-cpuinfo==9.0.0
psutil==5.9.8
onnxruntime==1.17.1
# Dependencies for blip
timm==0.4.12
transformers==4.37.0
# Dependencies for mistral quantized
llama-cpp-python==0.2.62