ipdb==0.13.13
ipython==9.4.0
ipython-genutils==0.2.0
Pygments==2.19.2
prompt-toolkit==3.0.51
nose==1.3.7
pre-commit==4.2.0
coverage==7.9.2
Faker==37.4.2
setuptools==78.1.1
pyfakefs==5.9.1
pytest==8.4.1
ruff==0.12.3
