argparse==1.4.0 
Django==3.0.10
django-constance==2.7.0
django-cors-headers==3.5.0
django-cryptography==1.0
django-extensions==3.0.9
django-filter==2.4.0
django-picklefield==3.0.1
django-redis==4.12.1
django-rq==2.4.0
djangorestframework==3.12.1
djangorestframework-simplejwt==4.6.0
dlib==19.21.1
drf-extensions==0.6.0
ExifRead==2.1.2
face-recognition==1.2.3
faiss-cpu==1.7.0
Flask==1.0
Flask-Cors==3.0.3
Flask-RESTful==0.3.6
geopy==1.11.0
gunicorn==20.0.4
matplotlib==3.3.2 
networkx==2.5
nltk==3.5
Pillow==8.1.0
psycopg2==2.8.6
pycocotools==2.0.2
https://github.com/owncloud/pyocclient/archive/master.zip
pytz==2020.1
pyheif==0.5.1
rq==1.6.1
six==1.15.0 
scipy==1.5.3
seaborn==0.11.0
serpy==0.3.1
sklearn==0.0
spacy==2.3.2
tqdm==4.51.0
gevent==20.9.0
python-magic==0.4.18
