name: Linting (using pre-commit)

on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: Run pre-commit check
        uses: pre-commit/action@v3.0.0
